#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #22983B;
}

#main .nav-pills > li > a:hover {
  background-color: #008B8B;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #008B8B;
}

#nav-top span.glyphicon {
  color: #008B8B;
}

#table-of-contents header{
    color:#008B8B;
    background-color: #008B8B;
}

#table-of-contents h2{
    background-color:#22983B;
}


a:link {
    color: blue;
}

a:hover{
    color:#008B8B
}

a:visited{
    color:#008B8B
}

#sidebar {
  background-color: #008B8B;
}

#sidebar h2 {
  background-color: #003f3f;
}

#change toc text color
#TOC {
#  color: purple; 
#}

#changed highlighted section in toc
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: blue;
}


.navbar-default {
    background-color: #141c25f2;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #141c25 !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #141c25;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #202831f2;
  }

/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #141c25;
}
